body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.landing-page {
  /* You can replace this URL with any background image you like */
  background-image: url('https://images.unsplash.com/photo-1518531933037-91b2f5f229cc?q=80&w=1000&auto=format&fit=crop'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  flex-direction: column;
}
.landing_content h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
.get-started-button {
  padding: 15px 30px;
  font-size: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}
.get-started-button:hover {
  background-color: #45a049;
}
.product-list-container {
    display: none;
}
.product-list-container.visible {
    display: block;
}
.landing-page.fade-out {
    display: none;
}